* {
  box-sizing: border-box; }

body {
  background-color: #f7f7f7; }

.container {
  text-align: center;
  margin-top: 25px; }

.inputForm {
  width: 20%;
  margin: 30px auto;
  padding: 15px 0;
  color: #005E7F;
  background-color: #fff;
  border: 1px solid #00527F;
  border-radius: 5px;
  text-align: center; }

.input {
  height: 30px;
  width: 75%;
  display: block;
  margin: 5px auto;
  border: 1px solid #00527F;
  border-radius: 5px;
  padding: 3px; }

.submitBtn {
  margin-top: 10px;
  height: 30px;
  width: 150px; }

.editBtn {
  margin-top: 10px;
  height: 30px;
  width: 150px;
  visibility: hidden; }

.entry {
  list-style-type: none;
  background-color: #fff;
  color: #005E7F;
  border: 1px solid #00527F;
  border-radius: 5px;
  width: 45%;
  height: 100px;
  margin: 10px auto; }

.entryHeader {
  width: 47.5%;
  height: 80%;
  padding-left: 25px;
  padding-top: 15px;
  margin-top: 12px;
  border-right: 1px #005E7F solid;
  display: inline-block;
  float: left;
  text-align: left; }

.name {
  font-size: 32px;
  padding: 5px; }

.infoList {
  width: 47.5%;
  list-style-type: none;
  margin-top: 13px;
  display: inline-block;
  text-align: left; }

.fa-cog {
  color: #005E7F;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px; }

.menu {
  width: 5%;
  height: 28px;
  overflow: hidden;
  display: inline-block;
  float: right;
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  position: relative;
  border-left: #005E7F solid 1px; }

.menuhover {
  height: 85px;
  transition: all 500ms ease; }

.fa-pencil {
  color: #005E7F;
  display: block;
  padding-right: 3px;
  margin-top: 7px; }

.fa-trash-o {
  color: #005E7F;
  display: block;
  padding-right: 4px;
  margin-top: 10px; }

.options {
  margin-left: 3px; }

.options:hover {
  border: 1px solid #00527F; }

.editingInfo {
  background-color: #FDD6D6; }

.editingBtn {
  visibility: hidden; }

.addEdit {
  visibility: visible; }
