* {
  box-sizing: border-box; }

body {
  background-color: #00A4FF; }

.container {
  text-align: center;
  margin-top: 25px; }

.entry {
  list-style-type: none;
  background-color: #C7EBFF;
  color: #005E7F;
  border: 1px solid #00527F;
  border-radius: 5px;
  width: 45%;
  height: 100px;
  margin: 10px auto; }

.head {
  width: 45%;
  height: 80%;
  padding-left: 25px;
  padding-top: 15px;
  margin-top: 12px;
  border-right: 1px #005E7F solid;
  display: inline-block;
  float: left;
  text-align: left; }

.name {
  font-size: 32px;
  padding: 5px; }

.infoList {
  width: 45%;
  list-style-type: none;
  margin-top: 13px;
  display: inline-block;
  text-align: left; }

.fa-cog {
  color: #005E7F;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px; }

.menu {
  width: 10%;
  height: 28px;
  overflow: hidden;
  display: inline-block;
  float: right;
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  position: relative; }

.menuhover {
  height: 80px; }

.fa-pencil {
  color: #005E7F;
  display: block;
  padding-right: 3px;
  padding-top: 5px; }

.fa-trash-o {
  color: #005E7F;
  display: block;
  padding-right: 4px;
  padding-top: 10px; }
